{# if there is no offset, default it to 2 #}
{% if Offset is not defined %}
	{% set Offset = 2 %}
{% endif %}
<div class="col-sm-offset-{{ Offset }} col-sm-{{ 12 - Offset }} btn-group {% if Justified is not defined or Justified != false %}btn-group-justified{% endif %}" role="group">
	{% for Button in Buttons %}
		<div class="btn-group" role="group">
			<button type="button" id="{{ Button.Id }}" class="btn btn-{{ Button.Style ? Button.Style : "default" }} {{ Button.Class }}" {% if Button.CollapseTarget is defined %}data-toggle="collapse" data-target="#{{ Button.CollapseTarget }}" aria-expanded="false" aria-controls="{{ Button.CollapseTarget }}"{% endif %} {% if Button.ToggleTarget is defined %}data-toggle="modal" data-target="#{{ Button.ToggleTarget }}"{% endif %} {{ Button.Data }}>{{ Button.Value }}</button>
		</div>
	{% endfor %}
</div>
