{% if SubPage is not defined %}{% set SubPage = false %}{% endif %}

{% extends SubPage ? "_search/base_search_empty.twig" : "_search/base_search.twig" %}

{% block search_body %}
    <div class="SearchHeader ui-widget-content ui-corner-all">
        <div class="frmSearch" >
            <input type="hidden" name="ExcelExport" class="ExcelExport" value="0" />
            <input type="hidden" name="ParentId" class="ParentId" value="{{ ParentObjectId }}" />
            <input type="hidden" name="ParentType" class="ParentType" value="{{ ParentObjectType }}" />

            <div class="SearchOptions">
                {% block SearchOptions %}
                    <label>Name</label>
                    <input type="text" name="SearchName" />
                    <div class="ClearAll"></div>
                {% endblock %}
            </div>

            <div class="SearchButtons">
                {% block SearchButtons %}
                    <p><input type='button' class='btnSearch button_modern' value='{{ Options.SearchText }} Search' data-tour-step="btnSearch{{ Options.PageBreadcrumb }}" /></p>
                    <p><input type='button' class='btnAddItem button_modern' value='Add {{ Options.SearchText }}' data-tour-step="btnAdd{{ Options.PageBreadcrumb }}" /></p>
                {% endblock %}
            </div>

            {% block SearchAdvanced %}
            {% endblock %}

        </div>
    </div>

    <div class="search_results" style="clear:both; padding-top:20px;"  data-tour-step="search_results_{{Options.PageBreadcrumb}}">
        {#{% include "_search/base_search_results.twig" %}#}
    </div>
{% endblock %}