{% from '_generic/macros.twig' import get_thumb %}
<div class="Document {{ state_class }}" title="{{ document.getOriginalFilename }}">
    <div class="InnerDocument">
        <input type='hidden' name='{{ element_name }}[]' value='{{ document.getId }}'/>

        <div class="Thumb">
            {% if document.getFileExtension in ['pdf','jpg','jpeg','gif','png'] %}
                <a class="DocumentImage ViewBoxItem" href="/files/read_document/{{ document.getId }}/?view=inline"
                   data-file_type="{{ document.getFileExtension }}" target="_blank">
                    {{ get_thumb( document ) }}
                </a>
            {% else %}
                {{ get_thumb( document ) }}
            {% endif %}
        </div>

        {% block FileName %}
            <div class="Filename">
                <span>{{ document.getOriginalFilename }}</span>
            </div>
        {% endblock %}
    </div>
</div>