{% from '_generic/macros.twig' import get_thumb %}
<div class="Image {{ state_class }}" title="{{ document.getOriginalFilename }}">
    <div class="InnerImage">
        {% if element_name is defined %}<input type='hidden' name='{{ element_name }}[]' value='{{ document.getId }}'/>{% endif %}

        <div class="ImgTools">
            {% if show_edit_cat %}
                <a href="#" data-url="/model/data/image_categories/{{ model.getId }}/{{ document.getId }}" class="fa fa-tags EditCategories" title="Categories"></a>
            {% endif %}
	        {% if show_favourite %}
		        <a href="#" data-document-id="{{ document.getId }}" data-category-id="{{ active_category }}" class="fa {% if active_category != "all_categories" %}{% if doc.getCatDefault %}fa-thumbs-o-up{% else %}fa-thumbs-o-down{% endif %}{% else %}{% if doc.getAllDefault %}fa-thumbs-o-up{% else %}fa-thumbs-o-down{% endif %}{% endif %} SetFavourite" title="Favourite"></a>
	        {% endif %}
            <a href="#"
               data-url="/files/read_document/{{ document.getId }}/?view=inline"
               class="fa fa-expand ViewBoxItem"
               data-file_type="{{ document.getVideoLink ? "vid" : document.getFileExtension }}"
               data-video_link="{{ document.getVideoLink }}"
               target="_blank"
               title="Preview">
            </a>
        </div>

        <div class="Thumb">
            {{ get_thumb( document, image_view ) }}
        </div>

        {% block FileName %}
            <div class="Filename">
                <span>{{ document.getOriginalFilename }}</span>
            </div>
        {% endblock %}
    </div>
</div>