{% extends "_generic/base_form_element.twig" %}

{% block InputElement %}
	{% for ValueItem in Values %}
		<label class="{{ Value == ValueItem ? "active" : "" }}">
			<input type="radio" name="{{ Name }}" id="option{{ loop.index }}" autocomplete="off" {{ Value == ValueItem ? "checked" : "" }} value="{{ ValueItem }}" class="{{ Class }} input-sm">
			<label for="option{{ loop.index }}">{{ Labels[ loop.index0 ] }}</label>
		</label>
		{% if LineBreak %}<br/>{% endif %}
	{% endfor %}
{% endblock %}