{% extends "_generic/base_form_element.twig" %}

{% block InputElement %}
	<select name="{{ Name }}" class="form-control input-sm {{ Classes }}" data-selected-id="{{ Value }}"
			{{readonly_text}}
			{% if IsRequired %}required{% endif %}
			{% if Id %}id="{{ Id }}"{% endif %} >
		{% if Default %}
			<option value="">{{ Default }}</option>
		{% endif %}
		{% for Key, Answer in Answers %}
			{% if ValueFormat == 'KeyValue' %}
				{% set option_value, option_name = Key, Answer %}
			{% elseif StandardOptions %}
				{% set option_value, option_name = Answer.getValue, Answer.getDisplayValue %}
			{% elseif ValueFormat == 'ValueValue' %}
				{% set option_value, option_name = Answer, Answer %}
			{% else %}
				{% set option_value, option_name = Answer.getId, Answer.getName %}
			{% endif %}
			<option value='{{ option_value }}'
				{% block DataBlock %}{% endblock %}
				{% if Value == option_value %}selected='selected'{% endif %}>
				{% block DisplayText %}{{ option_name }}{% endblock %}
			</option>
		{% endfor %}
	</select>
{% endblock %}